---
---
<header class="py-6 bg-emerald-700 w-full">
    <nav class="flex flex-col text-center font-bold text-white px-15 lg:flex-row lg:justify-between">
        <div class="py-3 hover:bg-white hover:text-emerald-700">
            <a class="py-3 px-5 text-xl" href="/home">Inicio</a>
        </div>
        <div class="flex flex-col lg:flex-row lg: gap-2">
            <a class="py-3 px-5 hover:bg-white hover:text-emerald-700 text-xl" href="/Conocenos">Conocenos</a>
            <a class="py-3 px-5 hover:bg-white hover:text-emerald-700 text-xl" href="/Normativa">Normativa</a>
            <a class="py-3 px-5 hover:bg-white hover:text-emerald-700 text-xl" href="/Galeria">Galeria</a>
        </div>
    </nav>
<header/>
